.home-about-container {
    border: solid var(--clr-accent);
}

.home-about-title {
    color: var(--clr-light);
}

.home-about-subtitle {
    color: var(--clr-light);
}

.home-about-description {
    color: var(--clr-light);
}