.post-text {
    color: white;
    border: solid white;
}

.post-text-r {
    color: red;
    border: solid red;
}

.p-text {
    color: yellow;
    border: yellow;
}

.p-text-o {
    color: orange;
    border: orange;
}